﻿@{
    ViewBag.Title = "About";
}
<h2>Apie Mlogą</h2>

<p> Sveiki atvykę į Deivo Mlogą. Čia galite užsiregistruoti ir įvesti jums žinomus filmus, jeigu esate filmų kinomanas ir žinote daugiau informacijos apie patį filmą.</p>