﻿@{
    ViewBag.Title = "Contact";
}
<h2>Mano kontaktai</h2>

<address>
    Lietuva<br />
    Deividas Matizonokas<br />
    <abbr title="Phone">Mob. tel.:</abbr>
    868518920
</address>

<address>
    <strong>El. paštas:</strong>   <a href="mailto:deividas.matizonokas@gmail.com">deividas.matizonokas@gmail.com</a><br />
</address>